.banner-image {
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.banner-border {
  border-bottom: 2px solid white;
  width: 1000px;
  margin: 0 auto;
  padding-top: 3em;
}

.class-banner {
  background-color: black;
}
