.container {
  display: block;
  margin: 2em auto;
  background-color: white;
  max-width: 1400px;
  text-align: center;
}

.button {
  width: 70px;
  background-color: #79addc;
  text-align: center;
  display: block;
  height: 35px;
  width: 85px;
  margin-left: 713px;
}

.israel {
  background-image: url("../images/tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.usa {
  background-image: url("../images/tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.australia {
  background-image: url("../images/tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.travel-destination-button {
  background-color: #79addc;
  text-align: center;
  font-family: GillSans;
  height: 35px;
  width: 110px;
  padding-top: 9px;
  margin: 70px auto 0;
  color: white;
  border: 2px solid none;
  font-size: 15px;
  border-radius: 25px;
}

.travel-destinations {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 300px;
  padding-left: 300px;
}

.submit-button {
  background-color: #79addc;
  color: white;
  border: 2px solid none;
  padding: 10px;
  border-radius: 25px;
}

.footer {
  margin: 60px;
  background-color: #79addc;
}

.footer-logo {
  padding-left: 100px;
  padding-top: 20px;
}

.fa {
  padding: 23px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}
