.row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding-left: 25px;
  text-decoration: none;
  color: white;
  border-right: 1px solid #79addc;
  border-spacing: 2px;
  font-family: GillSans;
}
