* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.title {
  color: white;
  text-align: center;
  margin-top: 75px;
  font-family: ProxNovaThin;
}

.title h1 {
  font-size: 53px;
}

.title p {
  font-size: 18px;
  font-family: GillSans;
}

.button p {
  color: white;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  padding-top: 11px;
  margin-left: 10px;
  font-family: GillSans;
}

.country {
  height: 300px;
  width: 200px;
  color: white;
  padding-top: 20px;
  font-family: ProxNovaThin;
}

.submit-button p {
  margin: 0 auto;
  font-size: 17px;
  font-family: GillSans;
}

.copyright {
  padding-top: 23px;
  font-family: GillSans;
  color: white;
}
